# eclipse
.classpath
.project
.settings/

# intellij
.idea/
*.iml
*.iws

# mac-os
.DS_Store

# gradle
.gradle
build/
out/
classes/
generated/
reports/
test-results/
tmp/

# application logging
logs/

